@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');
*{
    margin : 0px ; 
    padding : 0px ;
    box-sizing: border-box;
}
:root {
    --light-red : hsl(356, 100%, 66%);
    --very-light-red : hsl(355, 100%, 74%) ;
    --very-dark-blue  : hsl(208, 49%, 24%) ;
    --grayish-blue  :hsl(207, 13%, 34%) ;
    --very-dark-black-blue : hsl(240, 10%, 16%);
    --very-dark-gray-blue : hsl(237, 17%, 21%) ;
    --very-dark-desaturated-blue :hsl(237, 23%, 32%) ;
    --light-gray : rgb(211, 211, 211) ;
}
body , html {
    overflow-x: hidden;
    font-family: 'Overpass', sans-serif;
    background-color: rgb(253, 247, 247) ;
}

.header{
    position: relative;
    height : 80vh ; 
    width : 100% ; 
    border-radius: 0px 0px 0px 90px ;
    background-color: var(--light-red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    /* padding : 0px 40px ; */
    overflow:hidden;
    z-index: 2;
}
.header::after{
    content: url('./images/bg-pattern-intro.svg');
    position: absolute;
    background-position: center;
    background-size: cover;
    /* opacity: 0.3; */
    z-index: -1;
}
nav{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    max-height: 80px;
    padding: 20px 5%;
    /* background-color: khaki; */
    display: flex;
    flex-direction : row ;
    color: black;
    
}
.logo{
    color: white;
    text-decoration: wavy;
    font-size: 2rem;
    flex: 1;
    text-align: start;
}
.toggle{
    flex: 1fr;
    justify-self: flex-end;
    align-self: flex-end;
    cursor: pointer;
    overflow : hidden ;
    width: 40px;
    margin-top: -5px;
}
.close {
    display: none;
}
.navigaton-phone{
    display: none;
    width: 70%;
    height: auto;
    position: absolute;
    background-color: white;
    top : 100px ;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3 !important;
    border-radius: 3px;
    padding: 20px 15px;
    transition: width 0.3s ease-in;
}
.navigaton-phone div{
    position: relative;
    width: 100%;
    padding : 20px ;
    margin : 12px auto ;
}
.navigaton-phone div:nth-child(3){
    margin-bottom: 50px;
}
.navigaton-phone div label  {
    position: absolute;
    left:0px;
    /* background-color: red; */
    width: 100%;
    height: 100%;
    cursor: pointer;
    line-height: 40px;    
}
#toggle-inner-list-product ,
#toggle-inner-list-comp,
#toggle-inner-list-connect{
    display: none;
}
#toggle-inner-list-product:checked ~ .inner-list ,
#toggle-inner-list-comp:checked  ~ .inner-list ,
#toggle-inner-list-connect:checked  ~ .inner-list 
{
    display: block;
}
.inner-list {
    display: none;  
    margin-top: 50px;
    background-color: var(--light-gray);
    border-radius: 10px;
    overflow : hidden;
}
.inner-list li{
    position: relative;
    line-height: 35px;
    padding : 10px 0px;
    cursor: pointer;
    transition: background 0.4s ease;
}
.inner-list li a{
    color: var(--grayish-blue);
    text-decoration: none;
}
.inner-list li:hover{
    background-color: rgb(241, 241, 241);
}
.navigation-footer{
    border-top: 2px solid rgb(226, 226, 226) ;
    padding : 20px 10px;
    display: flex;
    flex-direction: column;
}
.navigation-footer button{
    margin : 12px auto ;
    padding: 15px 40px;
    border : none ;
    border-radius: 40px;
    font-weight: bold;
    font-size: 1rem;
}
.navigation-footer button:first-child {
    background-color: transparent;
}
.navigation-footer button:last-child {
    color: white;
    background: linear-gradient(90deg,   var(--very-light-red) ,var(--light-red));
}
.navigaton-desk{
    display: none;
}
.header_content{
    justify-self: center;

}
span.dis-block {
    display: block;
}
.img-desk{
    display: none;
}
.header h1{
    font-size: 2.4rem;
    line-height: 60px;
}
.btn{
    padding : 15px 30px;
    border-radius: 50px;
    margin : 70px 3px  0px;
    border : none ;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn-white {
    background-color: white;
    color : var(--light-red);
}
.btn-white:hover{
    background-color: rgba(255, 255, 255 ,0.2);
    color: white;
}
.btn-transparent{
    border : 2px solid white ;
    background-color:transparent;
    color: white;
    padding : 13px 33px;
}
.btn-transparent:hover{
    background-color: white;
    color : var(--light-red)
}
main{
    margin-top: 100px;
}
section{
    margin : 140px auto ;
    text-align: center;
    padding : 0px 7% ;
}
img {
    width: 100%;
}
.head-title{
    padding: 0px 10%;
    text-align: center;
}
.mb-90{
    margin : 0px auto 90px;
}
.mt-90{
    margin : 90px auto 0px;
}
.paragraph{
    margin: 20px auto;
    color : var(--grayish-blue);
    line-height: 30px;
}

.infor-secion{
    position: relative;
    background-color: var(--very-dark-black-blue);
    color: white;
    padding : 100px 0px;
    margin : 70% auto 0px ;
    border-radius: 0px 100px 0px 100px;
    z-index: 2;
}
/* .infor-secion::before{
    content: url('./images/bg-pattern-circles.svg');
    position: absolute;
    border : 20px solid red;
    z-index: -1;
} */
.infor-secion__img{
    margin-top : -50%;
    width: 50%;
}
.infor-secion .paragraph {
    color: white;
    padding : 0px 7% ;
    margin : 30px auto ;
}
.infor-secion .head-title{
    font-size: 2.5rem;
    padding: 0px 20px 20px ;
}
.thired-section{
    margin-top : 10vw ;
}
.thired-section div:first-child img{
    width: 130%;
    margin-left: -40%;
}
footer{
    background-color: var(--very-dark-black-blue);
    color: white;
    padding : 15% 5% 0px 5% ;
    text-align: center;
}
ul{
    list-style: none;
    margin: 0px ;
    padding :0px ;
}
.footer_content{
    display: flex ;
    flex-direction: column;
}
.footer_content ul {
    margin : 18px auto ;
}
.footer_content ul li:first-child {
    margin-bottom: 10px;
    font-weight: bold;
}
.footer_content ul li:not(:first-child){
    color: var(--light-gray)
}

@media all and ( min-width : 755px) {
    .design-future-section{
        display: flex  ;
        flex-direction: row;
    }
    .design-future-section  div {
        width: 60%;
    }
    .design-future-section div:last-child{
        margin-right: -20%;
    }
    .infor-secion{
        display: flex;
        flex-direction: row;
        padding : 50px 10px;
        margin : 10% auto 0px ;
        align-items: center;
    }
    .infor-secion__img{
        margin-top: -10% ;
    }
    .img-desk{
        display: inline;
    }
    .img-phone{
        display : none;
    }
    .thired-section{
        display: flex;
        flex-direction: row;
        flex : 40% 1fr ;
    }
    .thired-section > * {
        width : 60% ;
    }
    .thired-section div:first-child {
        position: relative;
    }
    footer {
        padding : 0px 5% ;
    }
    footer div:not(:last-child){
        display: flex;
        flex-direction: row;
        line-height: 33px;

    }
    footer div:first-child h1{
        display: inline;
        margin-top : 20px;
    }
    .footer_content{
        display: flex;
        flex-direction: row;
        margin: 0px 10% ;
    }
    .navigaton-phone{
        display: none;
    }
    .toggle{
        display: none;
    }
    .logo{
        flex : 0;
        padding-right: 50px;
    }
    .navigaton-desk{
        display: flex;
        flex-direction: row;
        justify-content: start;
        color : white;
        width : 100%;
    }
    .navigaton-desk div  {
        display: flex;
        flex-direction: row;
    }
     .navigaton-desk div label{
         position: relative;
        cursor: pointer;
        transform: all 0.5s ease-in;
        padding-bottom: 7px;
    }
    .navigaton-desk div label::before{
        content: '';
        bottom: 0px;
        position: absolute ; 
        width : 0% ;
        height : 1.3px;
        background-color : white;
        transition: width 0.5s ease 0.1s;
    }
    .navigaton-desk div label:hover::before{
        /* border-bottom: 1px solid white;
        padding-bottom: 8px; */
        width : 100%;
    }
    .navigaton-desk div:not(:last-child) {
        margin : auto 25px; 
    }
    .navigation-footer{
        flex-direction: row;
        border-top : none;
        margin-right : auto ;
        flex : 1 ;
        padding : 0px;
        justify-content: flex-end;
        
    }
    .navigation-footer button{
        margin : auto 12px;
        padding : 10px 20px;
        font-size: .9rem;
        font-weight: normal;
        cursor: pointer;
    }
    .navigation-footer button:first-child{
        color : white;
    }
    .navigation-footer button:last-child{
        background: white;
        color : var(--light-red);
        transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .navigation-footer button:last-child:hover{
        background: rgba(255,255,255,0.2);
        color : white
    }
    .arrow-down{
        width : 13px;
        height: 13px;
        margin : 2px 5px;
        transition: transform 0.4s ease;
    }
    #toggle-inner-list-product-desk ,
    #toggle-inner-list-comp-desk,
    #toggle-inner-list-connect-desk{
        display: none;
    }
    #toggle-inner-list-product-desk:checked ~ .inner-list ,
    #toggle-inner-list-comp-desk:checked  ~ .inner-list ,
    #toggle-inner-list-connect-desk:checked  ~ .inner-list 
    {
        display: block;
    }
    #toggle-inner-list-product-desk:checked ~ .arrow-down,
    #toggle-inner-list-comp-desk:checked  ~ .arrow-down ,
    #toggle-inner-list-connect-desk:checked ~ .arrow-down{
        transform: rotate(180deg);
    }
    .inner-list{
        position: absolute;
        width: 150px;
        padding: 10px;
        background-color: white;
        color : var(--grayish-blue);
        border-radius: 5px;
        margin-top: 20px;
        box-shadow: 1px 6px 10px 2px #80808061
    }
    .inner-list li{
        line-height: 20px;
    }
    .inner-list li:hover ,  .inner-list li:hover a{
        background-color: transparent;
        color : var(--light-gray)
    }
    
}